---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}-->


<p style="font-size: 24px;"><b>Journal Articles</b></p>

<b>[2025]</b>
<ol>
  <li><b>Yu, Y.</b>, Xu, Y., Zhao, J., Li, D., Guo, W., Sheng, X., & Zhu, X. (2025). Simultaneous decoding of wrist angles and grasp forces based on channel-wise cumulative spike trains. <i><b>IEEE Journal of Biomedical and Health Informatics</b></i>, DOI: 10.1109/JBHI.2025.3583134.</li>
  <li>Guo, W., Zhao, Z., Zhou, Z., Fang, Y., <b>Yu, Y.</b>, & Sheng, X. (2025). Hand kinematics, high-density sEMG comprising forearm and far-field potentials for motion intent recognition. <i><b>Scientific Data</b></i>, 12(1), 445.</li>
  <li><b>Yu, Y.</b>, Zhou, Z., Xu, Y., Chen, C., Guo, W., & Sheng, X. (2025). Towards hand gesture recognition using a channel-wise cumulative spike train image-driven model. <i><b>Cyborg and Bionic Systems</b></i>, 6:2019, DOI:10.34133/cbsystems.0219.</li>
</ol>


<b>[2024]</b>
<ol>
  <li><b>Yu, Y.</b>, Xu, Y., Zhao, J., Li, D., Guo, W., Sheng, X., & Zhu, X. (2025). Simultaneous decoding of wrist angles and grasp forces based on channel-wise cumulative spike trains. <i><b>IEEE Journal of Biomedical and Health Informatics</b></i>, DOI: 10.1109/JBHI.2025.3583134.</li>
  <li>Guo, W.@ast, Zhao, Z., Zhou, Z., Fang, Y., <b>Yu, Y.</b>, & Sheng, X. (2025). Hand kinematics, high-density sEMG comprising forearm and far-field potentials for motion intent recognition. <i><b>Scientific Data</b></i>, 12(1), 445.</li>
  <li><b>Yu, Y.</b>, Zhou, Z., Xu, Y., Chen, C., Guo, W., & Sheng, X. (2025). Towards hand gesture recognition using a channel-wise cumulative spike train image-driven model. <i><b>Cyborg and Bionic Systems</b></i>, 6:2019, DOI:10.34133/cbsystems.0219.</li>
</ol>

<p style="font-size: 24px;"><b>Conference Papers</b></p>

<b>2024</b>
<ol>
  <li><b>Yu, Y.</b>, Xu, Y., Zhao, J., Li, D., Guo, W., Sheng, X., & Zhu, X. (2025). Simultaneous decoding of wrist angles and grasp forces based on channel-wise cumulative spike trains. <i><b>IEEE Journal of Biomedical and Health Informatics</b></i>, DOI: 10.1109/JBHI.2025.3583134.</li>
  <li>111</li>
</ol>


<b>2022</b>
<ol>
  <li><b>Yu, Y.</b>, Xu, Y., Zhao, J., Li, D., Guo, W., Sheng, X., & Zhu, X. (2025). Simultaneous decoding of wrist angles and grasp forces based on channel-wise cumulative spike trains. <i><b>IEEE Journal of Biomedical and Health Informatics</b></i>, DOI: 10.1109/JBHI.2025.3583134.</li>
  <li>111</li>
</ol>


<b>Before 2021</b>
<ol>
  <li><b>Yu, Y.</b>, Xu, Y., Zhao, J., Li, D., Guo, W., Sheng, X., & Zhu, X. (2025). Simultaneous decoding of wrist angles and grasp forces based on channel-wise cumulative spike trains. <i><b>IEEE Journal of Biomedical and Health Informatics</b></i>, DOI: 10.1109/JBHI.2025.3583134.</li>
  <li>111</li>
</ol>
