---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}-->


<p style="font-size: 24px;"><b>Journal Articles</b></p>

<ol>
  <li><b>Yu, Y.</b>, Xu, Y., Zhao, J., Li, D., Guo, W., Sheng, X., & Zhu, X. (2025). Simultaneous decoding of wrist angles and grasp forces based on channel-wise cumulative spike trains. IEEE Journal of Biomedical and Health Informatics, DOI: 10.1109/JBHI.2025.3583134.</li>
  <li>111</li>
</ol>
